[Unit]
Description=pybackup2
After=multi-user.target

[Service]
Type=simple
PIDFile=/tmp/pybackup2.pid
ExecStart=/usr/bin/pybackup2 daemon 3600
Restart=always
WorkingDirectory=.

[Install]
WantedBy=multi-user.target
